<%= turbo_frame_tag :customers do %>
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between flex-wrap flex-row items-center mb-4 mx-2">
      <h2 class="block text-lg dark:text-white font-bold text-4xl mb-4">Customers</h1>
      <div class="block">
        <div class="flex justify-end gap-3 mb-4">
          <%= render(ButtonToComponent.new(color: 'blue', link: new_customer_path, method: :get, data_attrs: { turbo: false })) do %>
            New Customer
          <% end %>
          <%= render(ButtonToComponent.new(color: 'blue', link: select_customer_pawn_item_flow_path, method: :get, data_attrs: { turbo: false }, options: { variant: :outline })) do %>
            Pawn Item
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full mb-8 shadow-lg font-mono">
      <div class="overflow-x-auto rounded-lg">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-center text-gray-900 dark:text-white bg-gray-200 dark:bg-gray-600 border-gray-500">
              <%= th_for_header('Full Name') %>
              <%= th_for_header('Phone Number') %>
              <%= th_for_header('Address Line 1') %>
              <%= th_for_header('Address Line 2') %>
              <%= th_for_header('City') %>
              <%= th_for_header('State') %>
              <%= th_for_header('Zip') %>
              <%= th_for_header('') %>
              <%= th_for_header('') %>
            </tr>
          </thead>
          <tbody class="bg-white">
            <%= render @customers %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
