<%= turbo_frame_tag :transactions do %>
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between flex-wrap flex-row items-center mb-4 mx-2">
      <h2 class="block text-lg dark:text-white font-bold text-4xl mb-4">Transactions</h1>
      <div class="block">
        <div class="flex justify-end gap-3 mb-4">
          <%= render(ButtonToComponent.new(color: 'blue', link: new_item_path, method: :get, data_attrs: { turbo: false })) do %>
            New Transaction
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full mb-8 shadow-lg font-mono">
      <div class="overflow-x-auto rounded-lg">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-center text-gray-900 dark:text-white bg-gray-200 dark:bg-gray-600 border-gray-500">
              <%= th_for_header('Item') %>
              <%= th_for_header('Date') %>
              <%= th_for_header('Sale Price') %>
              <%= th_for_header('Calculated Tax') %>
              <%= th_for_header('Profit') %>
              <%= th_for_header('') %>
              <%= th_for_header('') %>
            </tr>
          </thead>
          <tbody class="bg-white">
            <%= render @transactions %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
