<div class="max-w-6xl mx-auto">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg dark:text-white font-bold text-4xl">Transactions</h1>
    <div class="w-1/3 flex justify-end gap-3 mb-4">
      <%= render(ButtonToComponent.new(color: 'blue', link: new_item_path, method: :get, data_attrs: { turbo: false })) do %>
        New Transaction
      <% end %>
    </div>
  </div>
  <div class="w-full mb-8 shadow-lg font-mono">
    <div class="overflow-x-auto rounded-lg">
      <table class="w-full">
        <thead>
          <tr class="text-md font-semibold tracking-wide text-center text-gray-900 dark:text-white bg-gray-200 dark:bg-gray-600 border-gray-500">
            <%= th_for_header('Item') %>
            <%= th_for_header('Date') %>
            <%= th_for_header('Sale Price') %>
            <%= th_for_header('Calculated Tax') %>
            <%= th_for_header('Profit') %>
            <%= th_for_header('') %>
            <%= th_for_header('') %>
          </tr>
        </thead>
        <tbody class="bg-white">
          <%= render @transaction %>
        </tbody>
      </table>
    </div>
  </div>
</div>
