<div class="flex flex-wrap justify-center items-center justify-evenly mt-4 mb-6 mx-auto">
  <% unless user_signed_in? %>
    <%= render(ButtonToComponent.new(color: 'blue', link: new_user_session_path, method: :get, data_attrs: { turbo: false })) do %>
      Sign In
    <% end %>
  <% else %>
    <%= link_to('Inventory', items_path, class: 'text-xl dark:text-white dark:hover:text-gray-500 font-semibold underline') %>
    <%= link_to('Customers', customers_path, class: 'text-xl dark:text-white dark:hover:text-gray-500 font-semibold underline') %>
    <%= link_to('Loans', loans_path, class: 'text-xl dark:text-white dark:hover:text-gray-500 font-semibold underline') %>
    <%= render(ButtonToComponent.new(color: 'red', link: destroy_user_session_path, method: :delete, data_attrs: { turbo: false }, options: { variant: :outline })) do %>
      Sign Out
    <% end %>
  <% end %>
</div>
