<%= turbo_frame_tag :reports do %>
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between flex-wrap flex-row items-center mb-4 mx-2">
      <h2 class="text-lg dark:text-white font-bold text-4xl mb-4">Item Restock Alert</h2>
    </div>
    <div class="w-full mb-8 shadow-lg font-mono">
      <div class="overflow-x-auto rounded-lg">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-center text-gray-900 dark:text-white bg-gray-200 dark:bg-gray-600 border-gray-500">
              <%= th_for_header('Name') %>
              <%= th_for_header('On-hand Quantity') %>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% @items.each do |item| %>
              <tr class="text-gray-700">
                <%= th_for_body(item.name) %>
                <%= th_for_body(item.on_hand) %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
