<%= turbo_frame_tag :reports do %>
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between flex-wrap flex-row items-center mb-4 mx-2">
      <h2 class="text-lg dark:text-white font-bold text-4xl mb-4">Release to Sale</h2>
    </div>
    <div class="w-full mb-8 shadow-lg font-mono">
      <div class="overflow-x-auto rounded-lg">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-center text-gray-900 dark:text-white bg-gray-200 dark:bg-gray-600 border-gray-500">
              <%= th_for_header('Name') %>
              <%= th_for_header('SKU') %>
              <%= th_for_header('Default Date') %>
              <%= th_for_header('Release Date') %>
              <%= th_for_header('Days Pending Release') %>
              <%= th_for_header('Days Pending Stock') %>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% @items.each do |item| %>
              <tr class="text-gray-700">
                <%= th_for_body(link_to(item.name, item_path(item), class: 'text-blue-500 hover:text-blue-700 underline', data: { turbo: false })) %>
                <%= th_for_body(item.sku) %>
                <%= th_for_body(format_date(item.loan.default_date)) %>
                <%= th_for_body(format_date(item.released_at)) %>
                <%= th_for_body(item.days_pending_release) %>
                <%= th_for_body(item.days_pending_stock) %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
