<!DOCTYPE html>
<html>
  <head>
    <title>AllTheThings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 dark:bg-gray-900">
    <%= tag.div do %>
      <p class="block mx-auto my-2 p-4 w-1/2 text-center text-green-700 bg-green-200 border-2 border-green-700 rounded-md"><%= notice %></p>
    <% end if notice %>
    <%= tag.div do %>
      <p class="block mx-auto my-2 p-4 w-1/2 text-center text-red-700 bg-red-200 border-2 border-red-700 rounded-md"><%= alert %></p>
    <% end if alert %>
    <%= yield %>
  </body>
</html>
